* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    
}

}
#header{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}
header img{
    width: 100%;
    height: auto;
    object-fit: cover;
   
}
main{
    display: flex;
    flex: 1;
}
#aside{
    width: 200%;
    background-color: rgb(180, 180, 16);
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
aside nav{
    display: flex;
    flex-direction: column;
    height: 100%;
}
aside nav a{
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(12, 12, 243);
    border-bottom: 1px solid #d8bfff;
    background-color: palevioletred;
    transition: background-color 0,3s ease;
    flex-grow: 1;

}
aside nav a:hover{
    background-color: rgb(254, 178, 220);
    color: rgb(236, 12, 147);
}
#section {
   flex: 1;
    padding: 20px;
    background-color: greenyellow;
    overflow-y: auto;
}
main{
    display: flex;
    flex: 1;
}
footer {
    background-color: #ed79e2;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #155876;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}